body {
    background: grey; 
    font-family: Verdana;
    max-width: 900px;
    margin: auto;

}

.photo {
    border: 1px solid black;
    border-radius: 50%;
}

#title {
    color: red;
    font-family: Verdana;
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: pink;
}
.subtitle, .post_title {
    color: pink;

}

.post_title {
    font-size: 16px ;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: White;
    padding: 15px;
    border: 3px solid black;
    margin: 15px;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-bottom: 16px;
    width: 100%;
    text-align: justify;
}

.post_image {
    margin-bottom: 15px;
}

.contacts_list {
    list-style-type: none;
    padding-left: 15px;
}

.contacts_list li a {
    text-decoration: none;
}
